.instructor {
  background-color: #F2F5F7;
  margin: 0rem 2rem 1rem 2rem;
  border-radius: 10px;
  height: auto;
  width: auto;
  color: #202E47;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
  &:hover {
    background-color: #e7e9eb;
  }

  .name {
    color: #202E47;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .lock {
    float: right;
    padding: -1rem;
    z-index: 2;
  }
  
  .pref {
    margin-bottom: 1rem;
  }
  
  .tags {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .tag {
    background: #F2C94C;
    border-radius: 30px;
    width: auto;
    display: inline-block;
    padding: 3px 10px;
    margin-right: 0.5rem;
  }

  // .availability h5 {
  //   color: #54595F;
  //   font-weight: normal;
  //   font-size: 14px;
  //   line-height: 12px;
  // }

  .edit-icon {
    float: right;
    margin-top: -2rem;
    z-index: 2;
  }
}