.program-module {
  margin: 2rem 1rem;
  border-radius: 10px !important;
  border: 0 !important;
}

.program-module:hover {
  cursor: pointer;
}

.program-header {
  color: #FFFFFF;
}

.program-name {
  font-weight: 600;
  font-size: 20px;
  padding-left: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.program-left {
  float: left;
  margin-left: -1rem;
}

.program-right {
  float: right;
  margin-right: -1rem;
  z-index: 10;
}

.icon {
  color: #FFFFFF;
  height: 20px;
}

.program-body {
  background-color: #DDDFE2;
  border: none !important;
}