.partner {
  background-color: #FFFFFF;
  margin: 1rem;
  border-radius: 10px;
  padding-bottom: 1rem;
  width: 20vw;

  .partner-name {
    color: #202E47;
    font-weight: bold;
    font-size: 22px;
    padding: 2rem 2rem 0rem;
  }

  .info {
    padding-bottom: 1rem;
    margin-left: 2rem;
  }

  .instructor {
    background-color: #F2F5F7;
    margin: 0rem 2rem 1rem 2rem;
    border-radius: 10px;
    height: auto;
    color: #202E47;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
  }

  .instructor:hover {
    background-color: #e7e9eb;
  }
}