.program {

  .program-module {
    margin: 1rem;
    border-radius: 10px !important;
    border: 0 !important;
  }

  .program-header {
    color: #FFFFFF;
    height: 4rem;
    display: block;
    &:hover {
      cursor: pointer;
    }
  }

  .caret-down {
    color: #FFF;
    transform: rotate(90deg);
    transition: all 0.3s;
  }

  .caret-right {
    color: #FFF;
    transition: all 0.3s;
  }

  .program-name {
    font-weight: 600;
    font-size: 24px;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
  }

  .lock {
    z-index: 5;
    float: right;
    padding-top: 0.5rem;
  }

  .classes-container {
    background-color: rgba(221, 223, 226, 0.80);;
    border: none !important;
  }

  .class {
    margin: 0.5rem 1rem;
  }
}