.search {
  margin-right: 8rem;
  height: 30px;
  width: 40vw !important;

  .search-bar {
    border-radius: 10px;  
    border: none;
  }

  .search-btn {
    background-color: #0099FF;
    border-radius: 0px 10px 10px 0px;
  }
}

.filter-by {
  margin-right: 3rem;

  .label {
    margin-right: 1rem;
  }

  .select {
    width: 6vw !important;
  }
}

.add-button {
  background: #4B4B92 !important;
  border-radius: 10px !important;
  border: none !important;
  font-size: 20px;
  padding: 0.5rem 1rem !important;
}