.sidebar {
  position: sticky;
  right: 0;
  top: 0;
  padding: 1rem 2rem;

  .title {
    font-weight: bold;
    font-size: 32px;
    margin-top: 2rem;
    color: #212529;
    text-align: center;
  }
  
  .search {
    margin: 2rem 0rem;
    width: auto !important;

    .search-bar {
      background-color: #F2F5F7;
      border-radius: 10px;
      border: none;
    }

    .search-btn {
      background-color: #0099FF;
      border-radius: 0px 10px 10px 0px;
      border: none;
      width: 3rem;
    }
  }

  .filter-btn {
    background-color: #FFFFFF;
    border-color: #4B4B92;
    border-width: 2px;
    color: #4B4B92;
    border-radius: 10px;
    padding: 10px 15px;
    width: 40%;
    height: 40px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 600;
  }

  .filter-btn:hover {
    background-color: #4B4B92;
    color: #FFFFFF;
  }
  
  .auto-assign-btn {
    background-color: #4B4B92;
    border-radius: 10px;
    padding: 10px 15px;
    width: 50%;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1rem;
    border: none;
  }

  .auto-assign-btn:hover {
    background-color: #FFFFFF;
    border: 2px solid #4B4B92;
    color: #4B4B92;
  }
  
  .instructor {
    background-color: #F2F5F7;
    margin-bottom: 1rem;
    border-radius: 10px;
    height: auto;
    color: #202E47;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
  }

  .instructor:hover {
    background-color: #e7e9eb;
  }
}

