@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

/* .btn {
  width: "30%";
  margin-top: 10;
  margin-bottom: 10;
  align-items: "right";
  margin-left: "auto";
  padding: 8;
  border-radius: 3;
  border-width: 0;
  background-color: "#0099FF";
  color: "#FFFFFF";
  font-size: 12
} */

.button:hover {
  background-color: #7FC9FF;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
