@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

.sortingPagesContainer{
  background-color: white;
  margin-left: 212px;
  height: 140px;
}

/*  --------------- START PROGRAM PAGE --------------- */

.programPageContainer{
  background-color: white;
  margin-left: 212px;
  height: 100vh;
}

.programPageTitle{
  margin-left: 75px;
  margin-top: 29px;
  font-size: 72px;
  font-weight: 500;
  color: #202E47;
}

.hozLineDivider{
  border-top: 1px solid #5B7082;
  width: 80vw;
  margin-left: 101px;
  margin-top: 15px;
}

.programPageAddRosterBtn{
  margin-top: 49px;
  margin-left: 101px;
  width: 242px;
  height: 253px;
  border-radius: 15px;
  border-width: 0px;
  background-color: #D2D5DA;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
}

.programPageAddRosterBtn:hover{
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.addLogo{
  width: 76px;
}

.addRosterLaber{
  font-size: 18px;
  font-weight: 400;
  color: #5B7082;
}

/*  --------------- END PROGRAM PAGE --------------- */

/*  --------------- START SIDE NAVIGATION BAR --------------- */

.sideNavbarWrapper {
  display: flex;
  position: relative;
}

.sideNavbar {
  position: fixed;
  width: 212px;
  height: 100vh;
  background-color: #202E47;
  text-align: center;
  color: #FFF;
}

.sideNavBarTitle{
  font-weight: 500;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 36px;
}

.sideNavbarProgramsLabel {
  text-align: left;
  font-weight: 500;
  margin-left: 2px;
}

.sideNavbarLinks{
  font-weight: 400;
}

.sideNavbarLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;

  height: 61px;
  width: 212px;
  background-color: #5B7082;
  border-top: 0.5px solid #9097A3;
  border-bottom: 0.5px solid #9097A3;
  border-left: 0px;
  border-right: 0px;
  margin: -1px;
}

.sideNavbarLink:hover{
  background-color: #7FC9FF;
}

.sideNavbarSchool{
  margin-top: 30px;
  margin-bottom: 10px;
}

.sideNavbarPrograms{
  margin-top: 30px;
  margin-bottom: 10px;
}

.sideNavbarSignOutLink{
  margin-top: 45vh;
  height: 46px;
}

.sideNavbarLogo{
  width: 62px;
  margin-top: 10%;
}

/*  --------------- END SIDE NAVIGATION BAR --------------- */



/*  --------------- START SORTING PAGES NAV BAR --------------- */

.sortingPagesNavbar {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 4vh;
  background-color: white;
  color: #5B7082;
  border-bottom: 0.5px solid #9097A3;
  margin-left: 75px;
  margin-top: 1%;
}

.sortingPagesNavbarLinks{
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  /* background-color: black; */
  height: 4vh;

}

.sortedRosterNavLink{
  padding-left: 50px;
  padding-right: 50px;
  height: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


/*  --------------- END SORTING PAGES NAV BAR --------------- */



/*  --------------- START SORTED ROSTER PAGE --------------- */

.sortedPagePageTitle{
  font-size: 48px;
  margin-left: 75px;
  margin-top: 29px;
  font-weight: 400;
  color: #202E47;
}

/*  --------------- END SORTED ROSTER PAGE --------------- */



/*  --------------- START SortedInstructorsCard COMPONENT --------------- */

.collapsedCard{
  width: 508px;
  height: 82px;
  border-radius: 15px;
  background-color: #7FC9FF;
}

/*  --------------- END SortedInstructorsCard COMPONENT --------------- */
